$white: #ffffff;
$techBlack: #191919;
$approveGreen: #96e697;
$alarmYellow: #fffb94;
$warmGray: #c7c5c3;
$connectTint: #c9cbff;
$connectBlue: #4a52ff;
$midnightPurple: #222647;

#root {
  height: auto;
  width: auto;
}

* {
  box-sizing: border-box;
}

.request-state-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $midnightPurple;
  color: $white;
}

.container {
  // min-height: 100vh;
  // min-width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $techBlack;
  color: $white;
}

#title-div {
  width: 30em;
  background-color: unset !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h1 {
    margin-left: 20px;
    line-height: 44px;
    letter-spacing: -0.04em;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.text-on-image-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
}

#button-div {
  background-color: unset !important;
  label {
    margin: 0 0 0 0.5em;
    background-color: $connectBlue;
    color: $white;
    border: none;
    border-radius: 15px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
  }
}

input[type="file"] {
  display: none;
}

.not-found-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  h2 {
    font-size: 2em;
    font-weight: 700;
  }
}

#gallery {
  display: grid;
  height: calc(100vh - 10px);
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  grid-gap: 0.5em;
  margin: 98px 71px;
}
@media (max-width: 800px) {
  #gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: auto;
  }
  #gallery > div {
    width: 48%;
    margin: 1%;
  }
}
@media (max-width: 800px) and (max-width: 350px) {
  #gallery > div {
    width: 98%;
  }
}
#gallery > div:nth-child(6n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}
#gallery > div:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

#gallery > div:nth-child(3) {
  grid-column: auto;
  grid-row: span 1;
}

#gallery > div:nth-child(4) {
  grid-column: span 2;
  grid-row: span 2;
}

#gallery > div > img {
  width: 100%;
  min-height: 100%;
  transition: all ease 1s;
}
#gallery > div:hover img {
  filter: blur(4px);
}

#gallery > div {
  overflow: hidden;
  position: relative;
}
#gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.mosaic {
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  transition: 0.4s;
  background-color: $connectBlue;
  color: $white;

  #article-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 18px 0 0 18px;

    h1 {
      font-size: 1em;
      font-weight: 500;
      margin: 0.5em 0;
    }

    p {
      font-size: calc((100vw - 0.4rem) / 130);
      font-weight: 400;
      margin-top: 12px;
    }
  }
}

.mosaic:hover .content {
  top: 0;
}
