:root {
  --white: #ffffff;
  --techBlack: #191919;
  --approveGreen: #96e697;
  --alarmYellow: #fffb94;
  --warmGray: #c7c5c3;
  --connectTint: #c9cbff;
  --connectBlue: #4a52ff;
  --midnightPurple: #222647;
}

#root {
  height: auto;
  width: auto;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--techBlack);
  color: var(--white);
}

.content-div {
  margin: 98px 71px;
}

.cards-div {
  display: flex;
  flex-flow: row wrap;
}

.cards-div > div {
  margin: 0 0 30px 0;
  height: 10em;
  width: 20em;
  background-color: var(--connectBlue);
  margin: 10px;
  border-radius: 5px;
}

#title-div {
  width: 30em;
  background-color: unset !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#title-div > h1 {
  margin-left: 20px;
  line-height: 44px;
  letter-spacing: -0.04em;
  font-size: 28px;
  font-weight: 400;
}

.cards-div > div > h2 {
  color: var(--white);
  font-size: 1.5em;
  margin: 0.5em 0 0 0.5em;
}

#button-div {
  background-color: unset !important;
}

#button-div > button {
  margin: 0 0 0 0.5em;
  background-color: var(--connectBlue);
  color: var(--white);
  border: none;
  border-radius: 15px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 600;
}

